<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PROD" connectionString="Server=[Insert Here];DataBase=[Insert Here];User Id=[Insert Here];Password=[Insert Here]" providerName="System.Data.SqlClient" />
    <add name="DEV" connectionString="Server=[Insert Here];DataBase=[Insert Here];User Id=[Insert Here];Password=[Insert Here]" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ItemMaster" value="[dbo.Master_Table Here]" />
    <add key="InventoryExport" value="[dbo.Export_Inventory Here]" />
    
    <!--<add key="Testing" value="[dbo.Master_Test Here]"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=[Token Goes Here]" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=[Token Goes Here]" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>